:root {
  --mainColor: #0A0B5c;
  --secondaryColor:#0000FF
}


.gradientColor {
  color: linear-gradient(90deg, rgba(1, 3, 255, 1) 0%, rgba(1, 228, 255, 1) 100%);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: aliceblue;
  font-family: "Baskervville SC", serif;
  font-style: normal;
}