.slider{
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.slider img:hover{
  transform: scale(1.1);
}

@media screen and (max-width:570px){
  
  .slider img{
    width: 90%;
  }
  
}